---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{%- include head.html -%}

<body>
  {%- include header.html -%}

  <div class="container-fluid">
    {{ content }}
  </div>

  <div class="containers mt-5">

    <!-- 1. Logo -->
    {% for exp in site.author_work_experiences %}
    {% if exp.visibility == true %}
    <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ exp.company_logo }}" class="profile-picture" />
    {% endif %}
    {% endfor %}

<div class="accordion mt-5" id="miAcordeon">
  {% for folder in site.data.collections %}
    {% assign collection_name = folder[0] %}
    {% assign productos = folder[1] %}

    <div class="accordion-item">
      <h2 class="accordion-header" id="encabezado{{ forloop.index }}">
        <button class="accordion-button mi-titulo collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#contenido{{ forloop.index }}" aria-expanded="false"
          aria-controls="contenido{{ forloop.index }}">
          {{ collection_name | upcase }}
        </button>
      </h2>
      <div id="contenido{{ forloop.index }}" class="accordion-collapse collapse"
        aria-labelledby="encabezado{{ forloop.index }}" data-bs-parent="#miAcordeon">
        <div class="accordion-body">
          <div class="row">

            {% for subkey in productos %}
              {% assign subname = subkey[0] %}
              {% assign productos_lista = subkey[1] %}

              <h4 class="text-uppercase fw-bold mt-4">{{ subname }}</h4>

              {% for grupo in productos_lista %}
                {% assign nombre_grupo = grupo[0] %}
                {% assign items = grupo[1] %}

                <h5 class="text-muted mt-3">{{ nombre_grupo }}</h5>

                {% for producto in items %}
                  <div class="col-md-6 mb-3">
                    <div class="card">
                      <img src="/assets/img/collection/{{ subname }}/{{ nombre_grupo }}/{{ producto.name }}" class="card-img-top" alt="{{ producto.name }}">
                      <div class="card-body">
                        <h5 class="card-title">ID: {{ producto.id }}</h5>

                        <p class="card-text description-normal">{{ producto.description_normal }}</p>
                        <p class="card-text description-premium d-none">{{ producto.description_premium }}</p>

                        <p class="card-text price-normal"><strong>Precio Normal:</strong> {{ producto.price_normal }}</p>
                        <p class="card-text price-premium d-none"><strong>Precio Premium:</strong> {{ producto.price_premium }}</p>

                        <button class="btn btn-secondary toggle-mode">Modo Premium</button>
                        <a href="{{ producto.url_instagram }}" class="btn btn-primary mt-2" target="_blank">Ver en Instagram</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}

              {% endfor %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


  </div>

  {%- include footer.html -%}
</body>

</html>