---
layout: default
---

<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-10">
            <div class="card">

                <h1 class="card-title">Detalle</h1>
                <div id="tshirt-id">Cargando ID...</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="images">

                            <div class="image-wrapper w-100 p-2">
                                <img id="main-image" class="main-img" src="https://i.imgur.com/Dhebu4F.jpg" />
                              </div>
                            <div id="thumbnail-container" class="thumbnail text-center">
                                <!-- <img onclick="change_image(this)" src="https://i.imgur.com/Rx7uKd0.jpg" width="70"> <img
                                    onclick="change_image(this)" src="https://i.imgur.com/Dhebu4F.jpg" width="70"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="products p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <a href="{{site.url}}{{site.baseurl}}/">
                                        <i class="fa fa-long-arrow-left"></i>
                                        <span class="ml-1">Volver</span>
                                    </a>
                                </div>
                                <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Orianz</span>
                                <h5 class="text-uppercase">Men's slim fit t-shirt</h5>
                                <div class="price d-flex flex-row align-items-center"> <span
                                        class="act-price">$20</span>
                                    <div class="ml-2"> <small class="dis-price">$59</small> <span>40%
                                            OFF</span> </div>
                                </div>
                            </div>
                            <p class="about">Shop from a wide range of t-shirt from orianz. Pefect for
                                your everyday use, you could pair it with a stylish pair of jeans or
                                trousers complete the look.</p>
                            <div class="sizes mt-5">
                                <h6 class="text-uppercase">TALLA</h6> <label class="radio"> <input type="radio"
                                        name="size" value="S" checked> <span>S</span>
                                </label> <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span>
                                </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span>
                                </label>
                                <label class="radio"> <input type="radio" name="size" value="XL">
                                    <span>XL</span> </label> <label class="radio"> <input type="radio" name="size"
                                        value="XXL"> <span>XXL</span> </label>
                            </div>
                            <div class="cart mt-4 align-items-center"> <button
                                    class="btn btn-danger text-uppercase mr-2 px-4">Agregar al Carrito</button>
                                <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    const pocketsData = {{ site.data.images.thepockets | jsonify }};
    const params = new URLSearchParams(window.location.search);
    const id = params.get("id");

    if (id) {
        document.getElementById("tshirt-id").textContent = "ID: " + id;

        let found = false;

        for (const [folderName, items] of Object.entries(pocketsData)) {
            const match = items.find(item => String(item.id) === id);
            if (match) {
                const imagePath = "{{site.url}}{{site.baseurl}}//assets/img/collection/thepockets/" + folderName + "/" + match.name;
                document.getElementById("main-image").src = imagePath;

                const thumbnailContainer = document.getElementById("thumbnail-container");
                thumbnailContainer.innerHTML = "";

                items.forEach(item => {
                   
                        console.log("hola" + item.name);
                        const thumb = document.createElement("img");
                        thumb.src = "/assets/img/collection/thepockets/" + folderName + "/" + item.name;
                        thumb.width = 70;
                        thumb.style.cursor = "pointer";
                        thumb.onclick = function () {
                            change_image(this);
                        };
                        thumbnailContainer.appendChild(thumb);

                 
                });

                found = true;
                break;
            }
        }

        if (!found) {
            console.warn("Imagen no encontrada para ID:", id);
        }
    }

    function change_image(image) {
        document.getElementById("main-image").src = image.src;
    }
</script>