---
layout: default
---

<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-10">
            <div class="card">

                <h1 class="card-title-tshirt text-center"><span class="tshirt-name">###</span><br> T-SHIRT <span
                        class="tshirt-id">000</span></h1>
                <div class="row">

                    <div class="col-md-6">

                        <div class="d-flex justify-content-between align-items-center w-100">
                            <!-- Izquierda: botón de volver -->
                            <div class="d-flex align-items-center">
                                <a href="{{site.url}}{{site.baseurl}}/"
                                    class="d-flex align-items-center text-decoration-none">
                                    <i class="fa fa-long-arrow-alt-left mr-2"></i>
                                    <span>Volver</span>
                                </a>
                            </div>

                            <!-- Derecha: ícono de carrito -->
                            <a href="#"><i class="fab fa-instagram"> VER EN INSTAGRAM</i></a>
                        </div>
                        <div class="images">

                            <div class="image-wrapper w-100 p-2">
                                <img id="main-image" class="main-img" src="https://i.imgur.com/Dhebu4F.jpg" />
                            </div>
                            <div id="thumbnail-container" class="thumbnail text-center">
                                <!-- <img onclick="change_image(this)" src="https://i.imgur.com/Rx7uKd0.jpg" width="70"> <img
                                    onclick="change_image(this)" src="https://i.imgur.com/Dhebu4F.jpg" width="70"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="products p-4">
                            <div class="d-flex justify-content-between align-items-center">

                            </div>

                            <img src="{{site.url}}{{site.baseurl}}/assets/img/collection/thepockets/thepocketsn.png"
                                alt="" style="width: 160px; height: auto;" class="img-fluid d-block mx-auto mb-1">
                            <div class="mt-4 mb-3"> <span class="text-uppercase brand">THE POCKETS N</span>
                                <h5 class="text-uppercase"><span class="tshirt-name">###</span> T-SHIRT</h5>
                                <div class="price d-flex flex-row align-items-center"> <span
                                        class="act-price">$60.000</span> <span>COP</span>
                                    <div class="ml-2"> <small class="dis-price">$80.000</small> <span>25%
                                            OFF</span> </div>
                                </div>
                            </div>
                            <p class="about">Shop from a wide range of t-shirt from orianz. Pefect for
                                your everyday use, you could pair it with a stylish pair of jeans or
                                trousers complete the look.</p>

                            <!-- cuando seleccione tipo de tela cambiar precio y descripcion
                                al seccionar premiun dedesllcioanr genero y bloquear -->
                            <div class="sizes mt-2 align-items-center text-center">
                                <h6 class="text-uppercase">TELA</h6>
                                <label class="radio"> <input type="radio" name="cloth" value="Premium">
                                    <span>Premium</span>
                                </label> <label class="radio"> <input type="radio" name="cloth" value="Normal" checked>
                                    <span>Normal</span>

                            </div>

                            <div class="sizes mt-2 align-items-center text-center">
                                <h6 class="text-uppercase">GENERO</h6>
                                <div id="gender-radios">
                                    <label class="radio"> <input type="radio" name="gender" value="Hombre" checked>
                                        <span>HOMBRE</span></label>
                                    <label class="radio"> <input type="radio" name="gender" value="Mujer">
                                        <span>MUJER</span></label>
                                </div>
                                <div id="gender-unisex" style="display: none;">
                                    <label class="radio"> <input type="radio" name="gender" value="Unisex" checked>
                                        <span>UNISEX</span></label>
                                </div>

                            </div>

                            <div class="sizes mt-2 align-items-center text-center">
                                <h6 class="text-uppercase">TALLA</h6> <label class="radio"> <input type="radio"
                                        name="size" value="S" checked> <span>S</span>
                                </label> <label class="radio"> <input type="radio" name="size" value="M"> <span>M</span>
                                </label> <label class="radio"> <input type="radio" name="size" value="L"> <span>L</span>
                                </label>
                                <label class="radio"> <input type="radio" name="size" value="XL">
                                    <span>XL</span> </label>

                            </div>


                            <div class="colors mt-2 align-items-center text-center">
                                <h6 class="text-uppercase">COLOR</h6>

                                <label class="color-radio">
                                    <input type="radio" name="color" value="Negro" checked>
                                    <span class="color-circle" style="background-color: black;"></span>
                                </label>

                                <label class="color-radio">
                                    <input type="radio" name="color" value="Blanco">
                                    <span class="color-circle" style="background-color: white;"></span>
                                </label>

                            </div>




                            <div class="cart mt-4 d-flex flex-column align-items-center text-center">

                                <button class="btn btn-danger text-uppercase mb-3 px-4" onclick="mostrarModal()">Agregar
                                    al Carrito</button>


                                <div class="share-section text-muted">
                                    <strong class="d-block mb-2 share-text">Compartir:</strong>
                                    <div>

                                        <!-- WhatsApp -->
                                        <a href="#" onclick="shareWhatsApp()" class="share-icon mx-2">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal personalizado -->
    <div class="modal fade" id="addToCartModal" tabindex="-1">
        <div class="modal-dialog  modal-fullscreen">
            <div class="modal-content bg-dark text-white"> <!-- Fondo negro y texto blanco -->
                <div class="modal-header border-0">
                    <h5 class="modal-title text-white text-center w-100" id="addToCartModalLabel">Confirmar selección
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center">Estos son los datos de la camiseta que has seleccionado.<br>
                        Si estás seguro de que toda la información es correcta, haz clic en Aceptar para continuar con
                        tu pedido.<br>
                        Si detectas algún error, por favor haz clic en Cancelar, revisa los datos y vuelve a intentarlo.
                    </p>
                    <div class="text-center">
                        <p><strong>Tela:</strong> <span id="modal-tela"></span></p>
                        <p><strong>Género:</strong> <span id="modal-genero"></span></p>
                        <p><strong>Talla:</strong> <span id="modal-talla"></span></p>
                        <p><strong>Color:</strong> <span id="modal-color"></span></p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center border-0"> <!-- Centra los botones -->
                    <button type="button" class="btn btn-secondary me-2" id="cancelModal"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="modal-accept" id="confirmAdd">Aceptar</button>
                </div>
            </div>
        </div>
    </div>




    <script>
        const pocketsData = {{ site.data.images.thepockets | jsonify }};
        const params = new URLSearchParams(window.location.search);
        const id = params.get("id");

        if (id) {
            document.querySelector(".tshirt-id").textContent = "SKU: " + id;

            let found = false;

            for (const [folderName, items] of Object.entries(pocketsData)) {
                const match = items.find(item => String(item.id) === id);
                if (match) {
                    const imagePath = "{{site.url}}{{site.baseurl}}/assets/img/collection/thepockets/" + folderName + "/" + match.name;
                    document.getElementById("main-image").src = imagePath;
                    document.getElementById("main-image").dataset.pid = id;


                    document.querySelector("a[href='#'] i.fab.fa-instagram").parentElement.href = match.url_instagram;


                    document.querySelectorAll(".tshirt-name").forEach(function (el) {
                        el.textContent = folderName.toUpperCase();
                    });

                    const thumbnailContainer = document.getElementById("thumbnail-container");
                    thumbnailContainer.innerHTML = "";

                    items.forEach(item => {

                        const attribtshirt = item.name.split('-');


                        const thumb = document.createElement("img");
                        thumb.src = "{{site.url}}{{site.baseurl}}/assets/img/collection/thepockets/" + folderName + "/" + item.name;
                        thumb.width = 70;
                        thumb.style.cursor = "pointer";
                        thumb.dataset.name = attribtshirt[0];
                        thumb.dataset.gender = attribtshirt[1];
                        thumb.dataset.color = attribtshirt[2];

                        thumb.onclick = function () {
                            document.getElementById("main-image").dataset.pid = item.id;
                            document.getElementById("main-image").dataset.name = attribtshirt[0];
                            document.getElementById("main-image").dataset.gender = attribtshirt[1];
                            document.getElementById("main-image").dataset.color = attribtshirt[2];
                            document.querySelector(".tshirt-id").textContent = "SKU: " + item.id;
                            change_image(this);
                        };
                        thumbnailContainer.appendChild(thumb);


                    });

                    found = true;
                    break;
                }
            }

            if (!found) {
                console.warn("Imagen no encontrada para ID:", id);
            }
        }

        function change_image(image) {
            document.getElementById("main-image").src = image.src;

            const gender = document.getElementById("main-image").dataset.gender;
            const color = document.getElementById("main-image").dataset.color;

            const selectedCloth = document.querySelector('input[name="cloth"]:checked');
            const isPremium = selectedCloth && selectedCloth.value === "Premium";

            if (!isPremium) {
                const genderMap = {
                    women: "Mujer",
                    men: "Hombre"
                };

                const genderRadio = document.querySelector(
                    `input[name="gender"][value="${genderMap[gender]}"]`
                );

                if (genderRadio) {
                    genderRadio.checked = true;
                }
            }


            const colorMap = {
                "white.jpg": "Blanco",
                "black.jpg": "Negro"
            };

            const colorRadio = document.querySelector(
                `input[name="color"][value="${colorMap[color]}"]`
            );

            if (colorRadio) {
                colorRadio.checked = true;
            }
        }



        const pageUrl = window.location.href;
        const message = encodeURIComponent("¡Mira esta super camiseta que encontré!");

        function shareWhatsApp() {
            const url = `https://api.whatsapp.com/send?text=${message}%20${encodeURIComponent(pageUrl)}`;
            window.open(url, '_blank');
        }



        function mostrarModal() {
            const tela = document.querySelector('input[name="cloth"]:checked')?.value;
            const genero = document.querySelector('input[name="gender"]:checked')?.value;
            const talla = document.querySelectorAll('input[name="size"]')[1].checked ? "M" :
                document.querySelectorAll('input[name="size"]')[2].checked ? "L" :
                    document.querySelectorAll('input[name="size"]')[3].checked ? "XL" : "S";
            const color = document.querySelector('input[name="color"]:checked')?.value;


            document.getElementById("modal-tela").textContent = tela;
            document.getElementById("modal-genero").textContent = genero;
            document.getElementById("modal-talla").textContent = talla;
            document.getElementById("modal-color").textContent = color;


            const modal = new bootstrap.Modal(document.getElementById('addToCartModal'));
            modal.show();
        }

        document.getElementById("confirmAdd").addEventListener("click", function () {
            const genero = document.querySelector('input[name="gender"]:checked')?.value;
            const talla = document.querySelectorAll('input[name="size"]')[1].checked ? "M" :
                document.querySelectorAll('input[name="size"]')[2].checked ? "L" :
                    document.querySelectorAll('input[name="size"]')[3].checked ? "XL" : "S";
            const color = document.querySelector('input[name="color"]:checked')?.value;

            const message = encodeURIComponent(`¡Hola! Acabo de realizar mi pedido de la camiseta y estoy emocionado de recibirla. Quisiera confirmar que todo está en orden y que el pedido está siendo procesado. Detalles del pedido: Género: ${genero}, Talla: ${talla}, Color: ${color}`);

            const phoneNumber = '573233398124';
            const pid = document.getElementById("main-image").dataset.pid;
            const pageUrl = `${window.location.origin}${window.location.pathname}?id=${pid}`;
            const url = `https://api.whatsapp.com/send?phone=${phoneNumber}&text=${decodeURIComponent(message)}%20${decodeURIComponent(pageUrl)}`;
            window.open(url);



        });


        document.querySelectorAll('input[name="cloth"]').forEach(function (radio) {
            radio.addEventListener('change', function () {
                const isPremium = this.value === "Premium";

                const genderRadiosContainer = document.getElementById('gender-radios');
                const genderUnisexText = document.getElementById('gender-unisex');
                const genderRadios = document.querySelectorAll('input[name="gender"]');

                if (isPremium) {

                    genderRadiosContainer.style.display = "none";
                    genderUnisexText.style.display = "block";
                    genderRadios.forEach(r => {
                        r.disabled = true;
                        r.checked = (r.value === "Unisex");
                    });
                } else {

                    genderRadiosContainer.style.display = "block";
                    genderUnisexText.style.display = "none";
                    genderRadios.forEach(r => {
                        r.disabled = false;
                        r.checked = (r.value === "Hombre");
                    });
                }
            });
        });




    </script>