---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{%- include head.html -%}
<body>
        {%- include header.html -%}

        <div class="container-fluid">
            {{ content }}

      
        </div>

        <div class="containers">

          <!-- 1. Logo  -->
              {% for exp in site.author_work_experiences %} {% if exp.visibility == true
                %}
           
                    <img
                      src="{{site.url}}{{site.baseurl}}/assets/img/{{ exp.company_logo }}"
                      class="profile-picture"
                    />
                
                {% endif %} {% endfor %}
  
          <!-- 2. Nombre de su link Tree 
  
          <div class="profile-name">ANKOLTURE</div> -->
  
          <!-- 3. Links  -->

          <a href="https://www.instagram.com/ankolture/" class="links">
            <i class="fab fa-instagram">&nbsp;</i>
            Instagram
        </a>

        <a href="https://www.instagram.com/ankolture/" class="links">
          <i class="fab fa-facebook">&nbsp;</i>
          Facebook
      </a>
  
      <a href="https://wa.me/573233398124?text=Hola%20quiero%20más%20información%20delascamisetas" class="links" target="_blank">
        <i class="fab fa-whatsapp">&nbsp;</i>
        WhatsApp
    </a>


    <div class="slider-container">
      <h2>COLECCIONES</h2>
      <div class="owl-carousel owl-theme">
        <div class="item">
          <a href="{{site.url}}{{site.baseurl}}/shop" target="_blank">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/collection/thepockets/bowsy-men-black.jpg" alt="Paisaje 1">
          </a>
        </div>
        <div class="item">
          <a href="https://www.ejemplo2.com" target="_blank">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/collection/thepockets/bowsy-men-white.jpg" alt="Paisaje 2">
          </a>
        </div>
        <div class="item">
          <a href="https://www.ejemplo3.com" target="_blank">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/collection/thepockets/bowsy-women-black.jpg" alt="Paisaje 3">
          </a>
        </div>
        <div class="item">
          <a href="https://www.ejemplo4.com" target="_blank">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/collection/thepockets/bowsy-women-white.jpg" alt="Paisaje 4">
          </a>
        </div>
        <div class="item">
          <a href="https://www.ejemplo5.com" target="_blank">
            <img src="https://images.unsplash.com/photo-1508921912186-1d1a45ebb3c1?auto=format&fit=crop&w=600&q=80" alt="Paisaje 5">
          </a>
        </div>
      </div>
    </div>
    
    


  

          <!--------------------Footer---------------------------->
      <!-- <div class="footer mt-5">
          <hr/>
          <h6>Estamos en <span class="love">♥</span> Av. Buque Pesquero 281 - Mar del Plata, (Buenos Aires - Argentina)</h6>
          <h6>
          Producido por:
          <a href="/" class="name" target="_blank"> (capacitaciones UTN TIC) </a>
          <a id="email" href="mailto:ankolture@gmail.com"> <i class="fa fa-envelope"> </i> </a>
          </h6>
      </div> -->
  </div>

    

  
       

        {%- include footer.html -%}


   <div hidden id="snipcart" data-api-key="Y2I1NTAyNWYtMTNkMy00ODg0LWE4NDItNTZhYzUxNzJkZTI5NjM3MDI4NTUzNzYyMjQ4NzU0"></div>
   <script src="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.js" defer></script>
   <script src="{{site.url}}{{site.baseurl}}/assets/js/mode-switcher.js"></script>
   <script src="{{site.url}}{{site.baseurl}}/assets/js/owlcarrusel.js"></script>
 

    </body>
</html>